@import "base";

$violet: hsl(257, 40%, 49%);

$font-primary: "Poppins", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$header-logo-height: 30px;

$content-max-width: 1440px;

body {
  background: no-repeat top / contain url(../images/bg-mobile.svg), $violet;
  font-family: $font-primary;
  height: 100vh;
  min-height: fit-content;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: $content-max-width;
    padding: 0 2rem;

    .header {
      padding-top: 2rem;
      padding-bottom: 2rem;

      .header__logo {
        background: no-repeat left / contain url(../images/logo.svg);
        height: $header-logo-height;
      }
    }

    .hero {
      color: white;
      display: flex;
      flex-direction: column;
      flex: auto;
      margin-bottom: 2rem;

      .hero__illustration {
        background: no-repeat center / contain
          url(../images/illustration-mockups.svg);
        min-height: 300px;
      }

      .hero__content {
        line-height: 1.5;
        text-align: center;

        .content__heading {
          font-size: 1.5rem;
          text-transform: capitalize;
        }

        .content__text {
          color: darken(white, 5%);
          font-size: 0.9rem;
        }

        .cta {
          background-color: white;
          border-radius: 9999px; // yup, CSS is a one weirdo dude
          color: $violet;
          display: inline-block;
          font-size: 0.8rem;
          margin-top: 0.5rem;
          padding: 0.75rem 4rem;
          text-decoration: none;
          transition: all 200ms ease;

          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            transform: scale(0.9);
          }

          &:focus {
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
            outline: none;
          }
        }
      }
    }

    footer {
      .social-media {
        color: white;
        margin-bottom: 1rem;
        text-align: center;

        .icon-btn {
          border: 1px solid white;
          border-radius: 50%;
          color: inherit;
          margin-bottom: 0.5rem;
          padding: 0.225rem 0.425rem;

          &:not(:last-child) {
            margin-right: 0.5rem;
          }

          &:hover {
            background-color: white;
            color: $violet;
          }
        }
      }
    }
  }
}

@media (min-width: 640px) {
  body {
    background: no-repeat left / cover url(../images/bg-desktop.svg), $violet;

    .container {
      .header {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .header__logo {
          $header-logo-height: 40px;
          height: $header-logo-height;
        }
      }

      .hero {
        .hero__content {
          .content__heading {
            font-size: 2rem;
          }
          .content__text {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    .container {
      margin: 0 auto;
      padding: 0 3rem;

      .header {
        padding-top: 3rem;
        padding-bottom: 3rem;

        .header__logo {
          $header-logo-height: 50px;
          height: $header-logo-height;
        }
      }

      .hero {
        flex-direction: row;

        .hero__illustration {
          flex: 1;
          min-width: 500px;
          max-width: 700px;
        }

        .hero__content {
          align-self: center;
          flex: 0.75;
          margin: 0 2rem;
          margin-bottom: 2rem;
          text-align: start;
        }
      }
      footer {
        .social-media {
          text-align: end;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  body {
    .container {
      .hero {
        .hero__content {
          .content__heading {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
